# **Marathon_PostHog**

## Import existing dataframe

In [41]:
import pandas as pd

# Replace with the correct path to your CSV file if it's not in the same directory
file_path = '/Users/mbouch17/Desktop/IronHack/Career Hack/Silae2/df_all_featured.csv'
df = pd.read_csv(file_path)

pd.set_option('display.max_columns', None)



# Sort by a specific column (e.g., 'timestamp') and display the last few rows
df.sort_values(by='time', ascending=False).head(20)

/var/folders/t2/40gs14tj4lg2536r26vzcyv40000gn/T/ipykernel_99355/2439472417.py:5: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)

,id,year,bib,name,age,age_group,gender,division,city,country,5K,10K,15K,20K,half,25K,30K,35K,40K,pace_mph,speed_mph,pace_kmh,speed_kmh,proj_time,time,overall_rank,gender_rank,division_rank
52778,53227,2016,30690,"Farler, Daryl R.",35,35-44,M,M18-39,Franklin,USA,0:35:58,1:15:09,1:58:09,2:49:15,3:00:22,4:07:15,5:27:59,6:49:51,7:59:12,0:19:17,3.11,0:11:58,5.01,8:25:09,8:25:09,26628,14463,4802
52777,53226,2016,29403,"Ganem, William J.",39,35-44,M,M18-39,Reedsburg,USA,0:42:22,1:29:49,2:23:49,3:24:54,3:37:49,4:25:53,5:29:27,6:42:04,7:54:21,0:19:13,3.12,0:11:56,5.02,8:23:27,8:23:27,26627,14462,4801
26297,26598,2015,25651,"Reilly, William",62,55-64,M,M60-64,Kew Garden,USA,0:40:14,1:28:18,2:26:46,3:28:41,3:40:36,4:36:06,5:43:44,6:51:31,7:41:28,0:18:33,3.24,0:11:31,5.21,-,8:06:01,26598,14581,898
26296,26597,2015,29396,"Buccilli, Alfred P.",53,45-54,M,M50-54,Lynnfield,USA,0:49:04,1:40:12,2:33:31,3:31:41,3:43:35,4:29:20,5:31:11,6:33:35,7:35:38,0:18:20,3.27,0:11:23,5.27,-,8:00:37,26597,14580,2055
26295,26596,2015,25559,"Cerveny, Nona",66,65-74,F,F65-69,Scottsdale,USA,0:53:03,1:47:16,2:41:45,3:37:07,3:48:21,4:33:51,5:38:56,6:38:51,7:36:18,0:18:18,3.28,0:11:22,5.28,-,7:59:33,26596,12017,91
79037,79638,2017,25266,"Rigsby, Scott",48,45-54,M,M45-49,Alpharetta,USA,0:39:36,1:17:12,2:00:10,2:58:55,3:08:16,4:27:14,5:37:13,6:39:07,7:41:23,0:18:15,3.29,0:11:20,5.29,-,7:58:14,26411,14438,2553
26294,26595,2015,31359,"Emerson, Annette C.",61,55-64,F,F60-64,Old Town,USA,0:48:36,1:39:39,2:39:13,3:35:58,3:47:55,4:32:44,5:31:58,6:28:56,7:26:19,0:17:59,3.34,0:11:10,5.37,-,7:51:30,26595,12016,270
52776,53225,2016,26218,"Marseilles, Jami E.",47,45-54,F,F45-49,Huntington Beach,USA,0:47:04,1:32:02,2:28:50,3:28:28,3:40:17,4:27:33,5:24:12,6:29:21,7:25:15,0:17:51,3.36,0:11:05,5.41,7:47:56,7:47:56,26626,12165,1901
26293,26594,2015,25656,"Prescott, Francine J.",64,55-64,F,F60-64,Boynton Beach,USA,0:50:15,1:43:31,2:36:53,3:32:26,3:43:46,4:25:53,5:19:44,6:17:19,7:13:34,0:17:31,3.42,0:10:53,5.51,-,7:38:56,26594,12015,269
52775,53223,2016,4358,"Hall, Steven J",43,35-44,M,M40-44,Yardley,USA,0:20:58,0:41:41,1:02:29,1:23:34,1:28:18,1:45:00,2:07:21,2:31:21,6:54:20,0:16:53,3.55,0:10:29,5.72,7:22:23,7:22:23,26624,14461,1994
79036,79637,2017,25268,"Reilly, Bill",64,55-64,M,M60-64,New York,USA,0:40:34,1:27:19,2:17:17,3:11:40,3:22:30,4:06:10,5:07:09,6:06:07,6:56:08,0:16:49,3.57,0:10:26,5.74,-,7:20:44,26410,14437,1043
79035,79635,2017,25178,"Avelino, Andrew R.",25,25-34,M,M18-39,Fayetteville,USA,0:32:03,1:05:33,1:52:17,2:49:41,3:00:26,3:50:19,4:50:01,5:53:48,6:54:21,0:16:40,3.60,0:10:21,5.79,-,7:16:59,26408,14436,4774
79034,79634,2017,25166,"Steinbach, Paula Eyvonne",61,55-64,F,F60-64,Ontario,USA,0:46:44,1:35:41,2:23:35,3:12:44,3:23:31,4:12:06,5:03:08,5:55:18,6:46:57,0:16:24,3.66,0:10:11,5.89,-,7:09:39,26407,11972,344
79033,79633,2017,25141,"Quinn, Adam H.",19,- 25,M,M18-39,Belmont,USA,0:35:14,1:10:33,1:47:50,2:33:58,2:42:48,4:01:11,4:42:59,5:33:15,6:42:51,0:16:12,3.70,0:10:03,5.96,-,7:04:33,26406,14435,4773
26292,26593,2015,25650,"King, Cedric",37,35-44,M,M18-39,Bethesda,USA,0:37:58,1:22:18,2:10:02,3:01:58,3:12:16,3:56:09,4:52:52,5:48:49,6:40:30,0:16:03,3.74,0:09:58,6.02,-,7:00:30,26593,14579,4964
52774,53222,2016,26144,"Foulds, Rhonda L.",52,45-54,F,F50-54,Justin,USA,0:37:50,1:21:10,2:04:58,2:59:33,3:11:00,3:55:16,4:52:13,5:45:43,6:36:56,0:15:59,3.75,0:09:55,6.04,6:58:53,6:58:53,26623,12163,1254
52773,53221,2016,26221,"Rigsby, Scott",47,45-54,M,M45-49,Atlanta,USA,0:30:29,1:04:35,1:39:37,2:32:24,2:40:29,3:41:32,4:33:19,5:42:23,6:42:07,0:15:57,3.76,0:09:54,6.05,6:58:04,6:58:04,26622,14460,2502
26291,26592,2015,25481,"Gomez, Raymond",57,55-64,M,M55-59,Arlington Heights,USA,0:39:52,1:23:34,2:08:29,2:55:21,3:05:46,3:44:46,4:38:41,5:33:09,6:33:45,0:15:57,3.76,0:09:54,6.05,-,6:57:50,26592,14578,1498
52772,53220,2016,26143,"Gomez, Raymond",58,55-64,M,M55-59,Arlington Heights,USA,0:42:18,1:27:50,2:14:44,3:02:50,3:13:32,3:52:10,4:44:12,5:39:09,6:32:23,0:15:55,3.77,0:09:53,6.07,6:57:00,6:57:00,26621,14459,1563
26290,26591,2015,25647,"Loflin, Lindsay S.",71,65-74,M,M70-74,Greensboro,USA,0:41:32,1:24:31,2:09:01,2:55:40,3:06:01,3:44:29,4:39:38,5:34:43,6:32:06,0:15:54,3.77,0:09:52,6.07,-,6:56:47,26591,14577,123

## Format existing dataframe with timestamp as per Posthog csv requirements

In [43]:
import pandas as pd
from datetime import datetime, timedelta

# Load the dataset
df = pd.read_csv('df_all_featured.csv')

# Define race days for each year
race_days = {
    2015: '2015-04-20',
    2016: '2016-04-18',
    2017: '2017-04-17'
}

# Function to create timestamp from race start time and the checkpoint time
def calculate_timestamp(row, checkpoint_time_str, start_time):
    try:
        # Get the race day based on the year
        race_day = race_days.get(row['year'])
        if not race_day:
            return None  # If the race day is not found for the year

        # Parse the race day and checkpoint time as datetime objects
        race_day_datetime = datetime.strptime(race_day, '%Y-%m-%d')
        checkpoint_time = datetime.strptime(checkpoint_time_str, "%H:%M:%S")
        
        # Calculate the time difference between the checkpoint and the start time
        delta = timedelta(hours=checkpoint_time.hour, minutes=checkpoint_time.minute, seconds=checkpoint_time.second)
        timestamp = race_day_datetime + delta
        return timestamp.strftime('%Y-%m-%dT%H:%M:%SZ')
    except Exception as e:
        print(f"Error processing timestamp for {checkpoint_time_str}: {e}")
        return None

# Restructure the DataFrame for event-based tracking
event_data = []

# Loop through each row in the DataFrame
for _, row in df.iterrows():
    runner_id = row['id']
    checkpoints = ['5K', '10K', '15K', '20K', 'half', '25K', '30K', '35K', '40K']
    
    # Process checkpoint times
    for checkpoint in checkpoints:
        checkpoint_time = row[checkpoint]
        
        if pd.notna(checkpoint_time):  # Skip if the checkpoint time is missing
            timestamp = calculate_timestamp(row, checkpoint_time, start_time=datetime.strptime("10:00:00", "%H:%M:%S"))
            event_data.append({
                'event': 'runner_checkpoint',
                'properties': {
                    'runner_id': runner_id,
                    'checkpoint': checkpoint,
                    'time': checkpoint_time,
                    'timestamp': timestamp
                }
            })
    
    # Add the final time event for each runner
    final_time = row['time']
    if pd.notna(final_time):  # Skip if the final time is missing
        event_data.append({
            'event': 'runner_finish',
            'properties': {
                'runner_id': runner_id,
                'checkpoint': 'finish',  # Set checkpoint to 'finish'
                'time': final_time,
                'timestamp': calculate_timestamp(row, final_time, start_time=datetime.strptime("10:00:00", "%H:%M:%S"))
            }
        })

# Convert the event data into a DataFrame
event_df = pd.DataFrame(event_data)

# Expand the 'properties' column into individual columns
event_df_expanded = pd.json_normalize(event_df['properties'])

# Combine with the 'event' column to have a complete structure
final_event_df = pd.concat([event_df[['event']], event_df_expanded], axis=1)

# Display the final DataFrame
final_event_df.head(30)

/var/folders/t2/40gs14tj4lg2536r26vzcyv40000gn/T/ipykernel_99355/889714902.py:5: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('df_all_featured.csv')

Error processing timestamp for 2:58:81: unconverted data remains: 1

                event  runner_id checkpoint     time             timestamp
0   runner_checkpoint          1         5K  0:14:43  2015-04-20T00:14:43Z
1   runner_checkpoint          1        10K  0:29:43  2015-04-20T00:29:43Z
2   runner_checkpoint          1        15K  0:44:57  2015-04-20T00:44:57Z
3   runner_checkpoint          1        20K  1:00:29  2015-04-20T01:00:29Z
4   runner_checkpoint          1       half  1:04:02  2015-04-20T01:04:02Z
5   runner_checkpoint          1        25K  1:16:07  2015-04-20T01:16:07Z
6   runner_checkpoint          1        30K  1:32:00  2015-04-20T01:32:00Z
7   runner_checkpoint          1        35K  1:47:59  2015-04-20T01:47:59Z
8   runner_checkpoint          1        40K  2:02:39  2015-04-20T02:02:39Z
9       runner_finish          1     finish  2:09:17  2015-04-20T02:09:17Z
10  runner_checkpoint          2         5K  0:14:43  2015-04-20T00:14:43Z
11  runner_checkpoint          2        10K  0:29:43  2015-04-20T00:29:43Z
12  runner_checkpoint          2        15K  0:44:58  2015-04-20T00:44:58Z
13  runner_checkpoint          2        20K  1:00:28  2015-04-20T01:00:28Z
14  runner_checkpoint          2       half  1:04:01  2015-04-20T01:04:01Z
15  runner_checkpoint          2        25K  1:16:07  2015-04-20T01:16:07Z
16  runner_checkpoint          2        30K  1:31:59  2015-04-20T01:31:59Z
17  runner_checkpoint          2        35K  1:47:59  2015-04-20T01:47:59Z
18  runner_checkpoint          2        40K  2:02:42  2015-04-20T02:02:42Z
19      runner_finish          2     finish  2:09:48  2015-04-20T02:09:48Z
20  runner_checkpoint          3         5K  0:14:43  2015-04-20T00:14:43Z
21  runner_checkpoint          3        10K  0:29:43  2015-04-20T00:29:43Z
22  runner_checkpoint          3        15K  0:44:57  2015-04-20T00:44:57Z
23  runner_checkpoint          3        20K  1:00:29  2015-04-20T01:00:29Z
24  runner_checkpoint          3       half  1:04:02  2015-04-20T01:04:02Z
25  runner_checkpoint          3        25K  1:16:07  2015-04-20T01:16:07Z
26  runner_checkpoint          3        30K  1:32:00  2015-04-20T01:32:00Z
27  runner_checkpoint          3        35K  1:47:59  2015-04-20T01:47:59Z
28  runner_checkpoint          3        40K  2:03:01  2015-04-20T02:03:01Z
29      runner_finish          3     finish  2:10:22  2015-04-20T02:10:22Z

In [44]:
df

,id,year,bib,name,age,age_group,gender,division,city,country,5K,10K,15K,20K,half,25K,30K,35K,40K,pace_mph,speed_mph,pace_kmh,speed_kmh,proj_time,time,overall_rank,gender_rank,division_rank
0,1,2015,3,"Desisa, Lelisa",25,25-34,M,M18-39,Ambo,ETH,0:14:43,0:29:43,0:44:57,1:00:29,1:04:02,1:16:07,1:32:00,1:47:59,2:02:39,0:04:56,12.16,0:03:03,19.57,-,2:09:17,1,1,1
1,2,2015,4,"Tsegay, Yemane Adhane",30,25-34,M,M18-39,Addis Ababa,ETH,0:14:43,0:29:43,0:44:58,1:00:28,1:04:01,1:16:07,1:31:59,1:47:59,2:02:42,0:04:58,12.08,0:03:05,19.44,-,2:09:48,2,2,2
2,3,2015,8,"Chebet, Wilson",29,25-34,M,M18-39,Marakwet,KEN,0:14:43,0:29:43,0:44:57,1:00:29,1:04:02,1:16:07,1:32:00,1:47:59,2:03:01,0:04:59,12.04,0:03:05,19.38,-,2:10:22,3,3,3
3,4,2015,11,"Kipyego, Bernard",28,25-34,M,M18-39,Eldoret,KEN,0:14:43,0:29:44,0:45:01,1:00:29,1:04:02,1:16:07,1:32:00,1:48:03,2:03:47,0:05:00,12.00,0:03:06,19.31,-,2:10:47,4,4,4
4,5,2015,10,"Korir, Wesley",32,25-34,M,M18-39,Kitale,KEN,0:14:43,0:29:44,0:44:58,1:00:28,1:04:01,1:16:07,1:32:00,1:47:59,2:03:27,0:05:00,12.00,0:03:06,19.31,-,2:10:49,5,5,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
79033,79633,2017,25141,"Quinn, Adam H.",19,- 25,M,M18-39,Belmont,USA,0:35:14,1:10:33,1:47:50,2:33:58,2:42:48,4:01:11,4:42:59,5:33:15,6:42:51,0:16:12,3.70,0:10:03,5.96,-,7:04:33,26406,14435,4773
79034,79634,2017,25166,"Steinbach, Paula Eyvonne",61,55-64,F,F60-64,Ontario,USA,0:46:44,1:35:41,2:23:35,3:12:44,3:23:31,4:12:06,5:03:08,5:55:18,6:46:57,0:16:24,3.66,0:10:11,5.89,-,7:09:39,26407,11972,344
79035,79635,2017,25178,"Avelino, Andrew R.",25,25-34,M,M18-39,Fayetteville,USA,0:32:03,1:05:33,1:52:17,2:49:41,3:00:26,3:50:19,4:50:01,5:53:48,6:54:21,0:16:40,3.60,0:10:21,5.79,-,7:16:59,26408,14436,4774
79036,79637,2017,25268,"Reilly, Bill",64,55-64,M,M60-64,New York,USA,0:40:34,1:27:19,2:17:17,3:11:40,3:22:30,4:06:10,5:07:09,6:06:07,6:56:08,0:16:49,3.57,0:10:26,5.74,-,7:20:44,26410,14437,1043
79037,79638,2017,25266,"Rigsby, Scott",48,45-54,M,M45-49,Alpharetta,USA,0:39:36,1:17:12,2:00:10,2:58:55,3:08:16,4:27:14,5:37:13,6:39:07,7:41:23,0:18:15,3.29,0:11:20,5.29,-,7:58:14,26411,14438,2553

In [45]:
final_event_df.isnull().sum()

event         0
runner_id     0
checkpoint    0
time          0
timestamp     1
dtype: int64

In [46]:
# Fill the missing timestamp with the current time or a placeholder
final_event_df['timestamp'] = final_event_df['timestamp'].fillna(pd.to_datetime('now').strftime('%Y-%m-%dT%H:%M:%SZ'))

# Verify that the missing value is handled
final_event_df.isnull().sum()

event         0
runner_id     0
checkpoint    0
time          0
timestamp     0
dtype: int64

## Export new csv file (1)

In [48]:
final_event_df.to_csv('posthog_event_data.csv', index=False)

## API Connection with PostHog (1)

In [50]:
from posthog import Posthog

posthog = Posthog(project_api_key='phc_PWbYkhITUqBFy3Ujws3F7ekNusBJjZ3L72leAJVTzs4', host='https://eu.i.posthog.com')

In [51]:
posthog.capture('marathon-id', 'marathon-event')

(True,
 {'properties': {'$lib': 'posthog-python',
   '$lib_version': '3.14.1',
   '$geoip_disable': True},
  'timestamp': '2025-02-21T17:06:38.441651+00:00',
  'distinct_id': 'marathon-id',
  'event': 'marathon-event'})

import pandas as pd
import requests
import json
from tqdm import tqdm

# Load the CSV file
df = pd.read_csv("posthog_event_data.csv")  # Update with the actual file path

# PostHog API details
POSTHOG_API_KEY = "phc_PWbYkhITUqBFy3Ujws3F7ekNusBJjZ3L72leAJVTzs4"
POSTHOG_API_URL = "https://eu.i.posthog.com/capture/"

# Function to format data for PostHog with event name mapping
def format_event(row):
    # Map the event names correctly
    event_name = row["event"]  # Get the event name from the CSV
    
    # Ensure the event name is correct
    if event_name == 'runner_checkpoint':
        event_name = 'runner_checkpoint'
    elif event_name == 'runner_finish':
        event_name = 'runner_finish'
    else:
        event_name = 'unknown_event'  # Optional: Handle unexpected events

    # Return the formatted event for PostHog
    return {
        "event": event_name,
        "distinct_id": str(row["runner_id"]),
        "timestamp": row["timestamp"],
        "properties": {
            "checkpoint": row["checkpoint"],
            "time": row["time"]
        }
    }

# Convert DataFrame rows into a list of event dictionaries
events = df.apply(format_event, axis=1).tolist()

# Function to send data in batches
def send_batch(events, batch_size=500):
    for i in tqdm(range(0, len(events), batch_size)):
        batch = events[i:i + batch_size]
        payload = {"api_key": POSTHOG_API_KEY, "batch": batch}  # Include API key in the payload
        response = requests.post(POSTHOG_API_URL, json=payload)

        if response.status_code == 200:
            print(f"Batch {i // batch_size + 1} sent successfully!")
        else:
            print(f"Error: {response.status_code}, {response.text}")

# Send data to PostHog
send_batch(events)

## New Dataframe with 5k Checkpoints

In [53]:
# Replace with the correct path to your CSV file if it's not in the same directory
file_path = '/Users/mbouch17/Desktop/IronHack/Career Hack/Silae2/df_all_featured.csv'
df = pd.read_csv(file_path)

/var/folders/t2/40gs14tj4lg2536r26vzcyv40000gn/T/ipykernel_99355/459821000.py:3: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)

In [54]:
final_event_df.head()

               event  runner_id checkpoint     time             timestamp
0  runner_checkpoint          1         5K  0:14:43  2015-04-20T00:14:43Z
1  runner_checkpoint          1        10K  0:29:43  2015-04-20T00:29:43Z
2  runner_checkpoint          1        15K  0:44:57  2015-04-20T00:44:57Z
3  runner_checkpoint          1        20K  1:00:29  2015-04-20T01:00:29Z
4  runner_checkpoint          1       half  1:04:02  2015-04-20T01:04:02Z

In [55]:
# Mapping dictionary to rename the events
event_rename_mapping = {
    'runner_checkpoint': {
        '5K': 'runner_checkpoint_5k',
        '10K': 'runner_checkpoint_10k',
        '15K': 'runner_checkpoint_15k',
        '20K': 'runner_checkpoint_20k',
        'half': 'runner_checkpoint_half',
        '25K': 'runner_checkpoint_25k',
        '30K': 'runner_checkpoint_30k',
        '35K': 'runner_checkpoint_35k',
        '40K': 'runner_checkpoint_40k'
    }
}

# Apply the renaming
final_event_df['event'] = final_event_df.apply(
    lambda row: event_rename_mapping['runner_checkpoint'].get(row['checkpoint'], row['event']),
    axis=1
)

# Rename the dataframe
final_event_df2 = final_event_df  # Renaming the dataframe

# Show the result
print(final_event_df2.head(10))  # Now it shows the renamed dataframe

                    event  runner_id checkpoint     time             timestamp
0    runner_checkpoint_5k          1         5K  0:14:43  2015-04-20T00:14:43Z
1   runner_checkpoint_10k          1        10K  0:29:43  2015-04-20T00:29:43Z
2   runner_checkpoint_15k          1        15K  0:44:57  2015-04-20T00:44:57Z
3   runner_checkpoint_20k          1        20K  1:00:29  2015-04-20T01:00:29Z
4  runner_checkpoint_half          1       half  1:04:02  2015-04-20T01:04:02Z
5   runner_checkpoint_25k          1        25K  1:16:07  2015-04-20T01:16:07Z
6   runner_checkpoint_30k          1        30K  1:32:00  2015-04-20T01:32:00Z
7   runner_checkpoint_35k          1        35K  1:47:59  2015-04-20T01:47:59Z
8   runner_checkpoint_40k          1        40K  2:02:39  2015-04-20T02:02:39Z
9           runner_finish          1     finish  2:09:17  2015-04-20T02:09:17Z

## Export new csv file (2)

In [57]:
final_event_df2.to_csv('posthog_event_data2.csv', index=False)

## API Connection with PostHog (2)

import pandas as pd
import requests
import json
from tqdm import tqdm

# Load the CSV file
df = pd.read_csv("posthog_event_data2.csv")  # Update with the actual file path

# PostHog API details
POSTHOG_API_KEY = "phc_PWbYkhITUqBFy3Ujws3F7ekNusBJjZ3L72leAJVTzs4"
POSTHOG_API_URL = "https://eu.i.posthog.com/capture/"

# Function to format data for PostHog with event name mapping
def format_event(row):
    # Map the event names correctly
    event_name = row["event"]  # Get the event name from the CSV
    
    # Ensure the event name is correct (no changes needed since it's already renamed)
    if event_name.startswith('runner_checkpoint'):
        event_name = row["event"]
    elif event_name == 'runner_finish':
        event_name = 'runner_finish'
    else:
        event_name = 'unknown_event'  # Optional: Handle unexpected events

    # Return the formatted event for PostHog
    return {
        "event": event_name,
        "distinct_id": str(row["runner_id"]),
        "timestamp": row["timestamp"],
        "properties": {
            "checkpoint": row["checkpoint"],
            "time": row["time"]
        }
    }

# Convert DataFrame rows into a list of event dictionaries
events = df.apply(format_event, axis=1).tolist()

# Function to send data in batches
def send_batch(events, batch_size=500):
    for i in tqdm(range(0, len(events), batch_size)):
        batch = events[i:i + batch_size]
        payload = {"api_key": POSTHOG_API_KEY, "batch": batch}  # Include API key in the payload
        response = requests.post(POSTHOG_API_URL, json=payload)

        if response.status_code == 200:
            print(f"Batch {i // batch_size + 1} sent successfully!")
        else:
            print(f"Error: {response.status_code}, {response.text}")

# Send data to PostHog
send_batch(events)

In [59]:
df.head()

,id,year,bib,name,age,age_group,gender,division,city,country,5K,10K,15K,20K,half,25K,30K,35K,40K,pace_mph,speed_mph,pace_kmh,speed_kmh,proj_time,time,overall_rank,gender_rank,division_rank
0,1,2015,3,"Desisa, Lelisa",25,25-34,M,M18-39,Ambo,ETH,0:14:43,0:29:43,0:44:57,1:00:29,1:04:02,1:16:07,1:32:00,1:47:59,2:02:39,0:04:56,12.16,0:03:03,19.57,-,2:09:17,1,1,1
1,2,2015,4,"Tsegay, Yemane Adhane",30,25-34,M,M18-39,Addis Ababa,ETH,0:14:43,0:29:43,0:44:58,1:00:28,1:04:01,1:16:07,1:31:59,1:47:59,2:02:42,0:04:58,12.08,0:03:05,19.44,-,2:09:48,2,2,2
2,3,2015,8,"Chebet, Wilson",29,25-34,M,M18-39,Marakwet,KEN,0:14:43,0:29:43,0:44:57,1:00:29,1:04:02,1:16:07,1:32:00,1:47:59,2:03:01,0:04:59,12.04,0:03:05,19.38,-,2:10:22,3,3,3
3,4,2015,11,"Kipyego, Bernard",28,25-34,M,M18-39,Eldoret,KEN,0:14:43,0:29:44,0:45:01,1:00:29,1:04:02,1:16:07,1:32:00,1:48:03,2:03:47,0:05:00,12.00,0:03:06,19.31,-,2:10:47,4,4,4
4,5,2015,10,"Korir, Wesley",32,25-34,M,M18-39,Kitale,KEN,0:14:43,0:29:44,0:44:58,1:00:28,1:04:01,1:16:07,1:32:00,1:47:59,2:03:27,0:05:00,12.00,0:03:06,19.31,-,2:10:49,5,5,5